*.pyc
*.rst
*/*.png
*/*.xmf
*/*.h5
*/*.csv
*/*.pvsm
*.png
solut_channel/*
make_video/*
.idea/*
docs/build
qod_fvm/__pycache__/*.pyc
qod_fvm/solution/*
tests/__pycache__/*
tests/check_steady_solution/__pycache__/*
